*, *::after, *::before {
	box-sizing: border-box;
}

body{
	background-color:#fff;
	
	margin:auto;
	font-family:STKaiti, serif;
	color:black;
}


.logo{
	text-align:center;
  padding-top: 5%;
}



nav {
  width: 100%;
  height:auto;
  background: white;color: #fff;
  font-family: 'arial'; 
  font-size: 20px;
  text-align: center;
  
}

nav li {
  display: inline-block;
  padding: 24px 10px;

}

nav li a {
  font-size: 15px;
  color: #757575;
  text-transform: uppercase;
  text-decoration: none;
}



figure{
	margin:auto;
  width: 100%;
}

footer{

 color:rgb(8, 1, 1);
 margin: 0.2em auto 0px auto; 
 padding-top:2em;
 padding-bottom: .8em;
 display: flex;
 align-items: center;
 
}

.footer1{
 display: flex;
 padding-left:5%;
 padding-right:5%;
 
}
 


/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 25%;
 color:white;
 font-size:40px;
  transform: translate(-50%, -50%);
	
}

.shoppage{
  display: flex;
}
.category{
	background-color: #B7BE78;
	color:white;
	padding:1.5em;
	max-width: 15%;
	margin-top:0;
	height: 200%;
  padding-left: 5%;
  padding-right: 5%;
}
.list h1{
  margin-left: 10%;
  margin-bottom: 5%;
}
.product-container{
	display:flex;
	padding-bottom: 30%;
  margin-bottom: 5%;

}

.product-item{
	margin-left: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
}

.product-item button{
	border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.product-item button:hover{
  opacity: 0.7;
}

.product-item p{
	background-color:#fff;
	margin:0;
	padding:1em 0.5em;
}
.price {
  color: grey;
  font-size: 22px;
}

.container .btn:hover {
  background-color: black;
}
.about{

	padding-bottom: 50%;
	padding-top:5%;
	padding-left: 5%;
	padding-right:5%;
}
.contact{
	padding-top:5%;
	padding-left: 5%;
	padding-right:5%;
}
input[type=text], select, textarea {
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #50a554;
}

.contactform {
  padding: 5%;
}

.details {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}
/* Columns */
.left-column {
  width: 65%;
  position: relative;
}
 
.right-column {
  width: 35%;
  margin-top: 60px;
}
/* Left Column */
.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
 
.left-column img.active {
  opacity: 1;
}
/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}
/* Product Color */
.product-color {
  margin-bottom: 30px;
}
 
.color-choose div {
  display: inline-block;
}
 
.color-choose input[type=&quot;radio&quot;] {
  display: none;
}
 
.color-choose input[type=&quot;radio&quot;] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}
 
.color-choose input[type=&quot;radio&quot;] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}
 
.color-choose input[type=&quot;radio&quot;]#red + label span {
  background-color: #C91524;
}
.color-choose input[type=&quot;radio&quot;]#blue + label span {
  background-color: #314780;
}
.color-choose input[type=&quot;radio&quot;]#black + label span {
  background-color: #323232;
}
 
.color-choose input[type=&quot;radio&quot;]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}
/* Cable Configuration */
.cable-choose {
  margin-bottom: 20px;
}
 
.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
 
.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}
 
.cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
 
.cable-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.cable-config a:before {
  content: &quot;?&quot;;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}
/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

	
