<<<<<<< HEAD
=======
*, *::after, *::before {
	box-sizing: border-box;
}

body{
	background-color:#fff;
	
	margin:auto;
	font-family:STKaiti, serif;
	color:black;
}

.bag{
  position: absolute;
  left:86%;
  top:8%;
}

.logo{
	text-align:center;
  padding-top: 5%;
}



nav {
  width: 100%;
  height:auto;
  background: white;color: #fff;
  font-family: 'arial'; 
  font-size: 20px;
  text-align: center;
  
}

nav li {
  display: inline-block;
  padding: 24px 10px;

}

nav li a {
  font-size: 15px;
  color: #757575;
  text-transform: uppercase;
  text-decoration: none;
}



figure{
	margin:auto;
  width: 100%;
}

footer{

 color:rgb(8, 1, 1);
 margin: 0.2em auto 0px auto; 
 padding-top:2em;
 padding-bottom: .8em;
 display: flex;
 align-items: center;
 
}

.footer1{
 display: flex;
 padding-left:5%;
 padding-right:5%;
 
}
 


/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 25%;
 color:white;
 font-size:40px;
  transform: translate(-50%, -50%);
	
}

.shoppage{
  display: flex;
}
.category{
	background-color: #B7BE78;
	color:white;
	padding:1.5em;
	max-width: 15%;
	margin-top:0;
	height: 200%;
  padding-left: 5%;
  padding-right: 5%;
}
.list h1{
  margin-left: 10%;
  margin-bottom: 5%;
}
.product-container{
	display:flex;
	padding-bottom: 30%;
  margin-bottom: 5%;

}

.product-item{
	margin-left: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
}

.product-item button{
	border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.product-item button:hover{
  opacity: 0.7;
}

.product-item p{
	background-color:#fff;
	margin:0;
	padding:1em 0.5em;
}
.price {
  color: grey;
  font-size: 22px;
}

.container .btn:hover {
  background-color: black;
}
.about{

	padding-bottom: 50%;
	padding-top:5%;
	padding-left: 5%;
	padding-right:5%;
}
.contact{
	padding-top:5%;
	padding-left: 5%;
	padding-right:5%;
}
input[type=text], select, textarea {
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #50a554;
}

.contactform {
  padding: 3%;
}

.details {
  max-width: 1200px;
  margin: 0 auto;
  
  
  display: flex;
}
/* Columns */
.left-column {
  width: 65%;
  height: 60%;
  position: relative;
  margin-top: 0px;
}
 
.right-column {
  width: 35%;
  margin-top: 60px;
}
/* Left Column */
.left-column img {
  width: 80%;
  height: 80%;
  position: flex;
  transition: all 0.3s ease;
}
 
/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

#contacts {
    width: 1600px;
    height: 700px;
    margin: 0 auto;
     font-family: 'Montserrat', sans-serif;
}

#contacts>div {
    width: 960px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
 
#contacts>div>div {
    width: 470px;
    height: 560px;
    margin-top: 70px;
}
 
#contacts>div>div:first-child {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
}
 
#contacts input {
    width: 370px;
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
}
 
#fell {
    text-align: center;
    vertical-align: middle;
    width: 370px;
    height: 110px;
    line-height: 110px;
    margin: 0 auto;
    font-weight: 400;
}
 
#email {
    height: 50px;
    margin-left: 50px;
}
 
#subject {
    height: 50px;
    margin-top: 30px;
    margin-left: 50px;
}
 
#message {
    margin-top: 30px;
    margin-left: 50px;
    height: 140px;
}
 
#send {
    height: 50px;
    margin-top: 30px;
    margin-left: 50px;
    background-color: #50a554;
    color: #ffffff;
}
 
#con {
    text-align: left;
    width: 360px;
    height: 370px;
    margin-top: 80px;
    margin-left: 90px;
}
 
#con p:first-child {
    font-size: 48px;
}

	
>>>>>>> master
